.contact {
  position: relative;
  margin-top: 130px;
}
.contact-heading {
  position: absolute;
  overflow: hidden;
  left: 10px;
  width: 100%;
  font-size: 120px;
  line-height: 120px;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 700 !important;
  letter-spacing: 0.04em;
  text-align: left;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.05;
  color: white;
}
.contact-section-intro {
  padding-left: 28px;
  color: white;
  padding-top: 45px;
  font-weight: bold;
  font-size: 35px;
  margin-top: 30px;
  padding-left: 28px;
}
/* Cards */
.contact a:hover {
  color: white;
}
.contact-card-container {
  padding-top: 15px;
}
.contact-cards {
  padding-top: 30px;
}
.contact-grid {
  background-color: #404347;
  border-radius: 20px;
  box-shadow: 0 20px 25px rgb(25, 25, 26);
}
.contact-grid li {
  text-decoration: none;
  list-style-type: none;
  position: relative;
  width: auto;
  padding: 25px 20px 10px 75px;
  text-align: left;
}
.contact-card-icon {
  margin: 0;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
  color: #5ac24e;
}
.contact-card-title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
}
.contact-grid p {
  margin: 0;
  color: #a9a9a9;
  font-weight: 400;
  font-size: 16px;
}
.email-button,
.call-button {
  position: absolute;
  font-size: 15px;
  right: 10px;
  top: -25px;
  background-color: #5ac24e;
  color: #fff;
  padding: 3px 10px;
  height: 25px;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transition-duration: 0.2s;
}
.fa-arrow-right {
  padding-left: 8px;
}
.contact-email {
  padding-right: 10px;
}
.upwork-icon {
  height: 45px;
  width: 45px;
  display: block;
  background-color: #5ac24e !important;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-image: url("../upwork.svg");
}

/* Seprator */

.contact-seprator {
  padding-top: 40px;
  margin-left: 20px;
  display: flex;
}

.or-seprator {
  padding-right: 20px;
}

.seprator {
  background-color: transparent !important;
  display: inline-block;
  width: 50%;
  height: 10px;

  margin-top: 17px;
  border-top: 4px solid hsla(0, 0%, 100%, 0.05);
}

/* Form Styling */

.contact-form-grid {
  margin-top: 40px;
  background-color: #404347 !important;
  border-radius: 20px !important;
  padding: 50px;
  background-color: #404347;
  box-shadow: 0 20px 25px rgb(25, 25, 26);
}

.email-input,
.password-input {
  background-color: #404347;
  width: 94%;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
  height: 40px;
  line-height: 40px;
  outline: 0;
  transition-duration: 0.2s;
}

.form-text-area {
  border: none;
  background-color: #404347;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
  transition-duration: 0.2s;
}
.form-button {
  margin-top: 30px;
  color: white;
}
.form-button:hover {
  margin-top: 30px;
  color: #5ac24e;
  text-decoration: none;
}
/* Lets talk */

.live-chat-card {
  background-color: #404347;
  border-radius: 20px;
  width: 200px;
  height: 170px;
  align-items: center;
  box-shadow: 0 20px 25px rgb(25, 25, 26);
}

.fa-comments {
  color: #5ac24e;
  margin-top: 25px;
  padding-bottom: 10px;
  margin-left: 10px;
}
.live-chat {
  color: white;
  text-align: center;
}

.live-chat-container {
  margin: 40px 0 0 30px;
}

@media (max-width: 766px) {
  .contact-heading {
    font-size: 60px;
    padding-top: 10px;
  }
}
