.contact {
  position: relative;
  margin-top: 15rem;
}
.contact-heading {
  position: absolute;
  overflow: hidden;

  left: 0;
  top: -80px;
  width: 100%;
  font-size: 120px;
  line-height: 120px;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 700 !important;
  letter-spacing: 0.04em;
  text-align: left;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.05;
  color: white;
}
.contact-section-intro {
  padding-left: 28px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-top: 30px;
  padding-left: 28px;
}
/* Cards */
.contact-cards {
  padding-top: 30px;
}
.contact-grid {
  background-color: #404347 !important;
  border-radius: 20px !important;
}
.contact-grid li {
  text-decoration: none;
  list-style-type: none;
  position: relative;
  width: auto;
  padding: 20px 1px 15px 75px;
  text-align: left;
}
.contact-card-icon {
  margin: 0;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
  color: #5ac24e;
}
.contact-card-title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
}
.contact-grid p {
  margin: 0;
  color: #a9a9a9;
  font-weight: 400;
  font-size: 16px;
}

.contact-email {
  padding-right: 10px;
}
.upwork-icon {
  height: 45px;
  width: 45px;
  display: block;
  background-color: #5ac24e !important;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-image: url("../upwork.svg");
}

/* Seprator */

.contact-seprator {
  padding-top: 3rem;
  margin-left: 1rem;
}

.seprator {
  background-color: transparent !important;
  display: inline-block;
  width: 50%;
  height: 10px;
  margin-left: 10px;
  margin-top: 17px;
  border-top: 4px solid hsla(0, 0%, 100%, 0.05);
}

/* Form Styling */

.contact-form {
  padding: 20px 500px 20px 50px;
  margin-top: 10px;
  color: #404347 !important;
  width: 40rem;
}

.contact-form-grid {
  margin-top: 40px;
  background-color: #404347 !important;
  border-radius: 20px !important;
}
.contact-textfield-grid {
  margin-top: 10px;
}
.form-grid-name {
  padding-right: 30px;
}

.contact-textfield-grid {
  padding-top: 15px;
}
#text-field {
  height: 100px;
}
.button-grid {
  padding-top: 20px;
}
.contact-send-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: Poppins, sans-serif;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 20px;
}

/* Lets talk */

.live-chat-container {
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 30px;
  background-color: #404347 !important;
  border-radius: 20px !important;
}

.fa-comments {
  margin-left: 87px;
  margin-top: 20px;
  color: #5ac24e;
}
.live-chat {
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
