.expertise-section {
  position: relative;
  margin-top: 230px;
  padding-bottom: 80px;
}

.expertise-heading {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: -48px;
  width: 100%;
  font-size: 120px;
  line-height: 120px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: left;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.05;
}

.expertise-section-heading {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-top: 30px;
  padding-left: 8px;
}
.expertise-section-intro {
  padding-left: 11px;
}
a {
  text-decoration: none !important;
  color: #686969;
}

/* Button */
.expertise-download-resume {
  color: white;
  font-weight: 400;
  padding-left: 22px;
}

/* Cards */

.expertise-card-1,
.expertise-card-2 {
  background-color: #2f3234;
  font-size: 20px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 20px;
}

.exp-card-title {
  color: #616264;
  font-size: 20px;
}
.exp-job-title {
  color: white;
  font-size: 20px;
}
.expertise-job-link {
  font-size: 13px;
  display: flex;
  flex-direction: row;
}

.expertise-job-link a {
  color: #5ac24d;
}
.exp-job-container {
  padding: 20px;
}
.exp-job-detail {
  text-align: left;
  padding-top: 5px;
}
/* SKILLS */

.skill-cards {
  background-color: #2f3234 !important;

  width: 20vh;
  height: 20vh;
  margin-bottom: 20px;

  border-radius: 20px;
  align-items: center;
  box-shadow: #686969;
}

.skill-icon {
  padding-top: 20px;
}
.skill-name {
  font-size: 20px;
  padding-top: 10px;
  color: white;
}

@media (max-width: 375px) {
  .expertise-heading {
    font-size: 40px;
  }
  .expertise-section-heading {
    font-size: 20px;
    margin-top: 20px;
    margin-left: -20px;
  }
  .exp-intro-small {
    font-size: 10px;
  }
  .expertise-download-resume {
    font-size: 15px;
    margin-left: 2px;
  }
  .pas-card-text h4 {
    font-size: 18px;
  }
  .pas-card-text p {
    font-size: 15px;
  }
  .skill-container {
    padding-top: 15px;
  }
}
