.os {
  padding-top: 150px;
  position: relative;
}
.os-heading {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 120px;
  width: 100%;
  font-size: 120px;
  line-height: 120px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: left;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.05;
}

.os-section-heading {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-top: 30px;
  padding-left: 7px;
}
.os-section-intro {
  padding-bottom: 40px;
  padding-left: 10px;
}
.tx-primary {
  color: #5ac24d;
}

/* button */
.os-collabrate {
  color: white;
  font-weight: 400;
  padding-left: 47px;
}
/* cards */

.os-card-container {
  padding: 30px 40px 40px 40px;
}
.os-card-heading {
  color: white !important;
  padding-top: 25px;

  text-align: left;
}

.os-card-1 {
  background-color: #2f3234 !important;
  color: #a9a9a9 !important;
  border-radius: 5% !important;
  margin-right: 25px;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 0 5px 10px 20px;
  text-align: left;
}
.os-card-2 {
  background-color: #2f3234 !important;
  color: #a9a9a9 !important;
  border-radius: 5% !important;
  margin-right: 25px;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 0 5px 10px 20px;
  text-align: left;
}
.os-card-3 {
  background-color: #2f3234 !important;
  color: #a9a9a9 !important;
  border-radius: 5% !important;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 0 5px 10px 20px;
  text-align: left;
}

.os-card-text {
  font-size: 18px;
}
.os-card-container a {
  color: #5ac24d;
  padding-top: 15px;
  font-size: 17px;
}
