.portfolio {
  padding-top: 9vh;
}
.portfolio-section {
  position: relative;
}

.portfolio-heading {
  position: absolute;
  overflow: hidden;
  left: 10px;
  width: 100%;
  font-size: 120px;
  line-height: 120px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: left;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.05;
}

.portfolio-section-heading {
  color: white;
  font-weight: bold;
  font-size: 35px;
  padding-top: 9vh;
  padding-left: 10px;
}
.portfolio-section-intro {
  padding-left: 12px;
}
/* buttom */
.p-lets-talk {
  font-size: 20px;
  color: white;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid hsla(0, 16%, 92%, 0.25);
}
.p-lets-talk:hover {
  color: #5ac24d;
}
/* Cards */
.portfolio-card-container {
  margin: 20px;
  border-radius: 12px;
  overflow: hidden !important;
  border: none;
  box-shadow: 0 20px 25px rgb(25, 25, 26);

  /* flex: 1; */
}

.portfolio-card-item {
  display: block;
  cursor: pointer;
  height: 50vh;
  width: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 766px) {
  .portfolio-heading {
    font-size: 60px;
    padding-top: 10px;
  }
}
