.portfolio {
  padding-top: 9vh;
}
.portfolio-section {
  position: relative;
}

.portfolio-heading {
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%;
  font-size: 120px;
  line-height: 120px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: left;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.05;
}

.portfolio-section-heading {
  color: white;
  font-weight: bold;
  font-size: 35px;
  padding-top: 9vh;
}
.portfolio-section-intro {
  padding-left: 12px;
}
/* buttom */
.p-lets-talk {
  color: white;
  font-weight: 400;
  align-items: right;
}

/* Cards */
.portfolio-card-container {
  margin: 20px;
  border-radius: 12px;
  overflow: hidden !important;
  border: none;

  /* flex: 1; */
}

.portfolio-card-item {
  display: block;
  cursor: pointer;
  height: 50vh;
  width: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* @media (max-width: 375px) {
  .portfolio-heading {
    font-size: 40px;
  }
  .portfolio-section-heading {
    font-size: 20px;
    margin-top: 40px;
    margin-left: -20px;
  }
  .portfolio-download-resume {
    font-size: 15px;
    margin-left: 2px;
  }
} */
