.subscribe {
  padding-left: 10px;
  padding-right: 10px;
}
.subscribe-container {
  padding: 60px 10px 60px 50px;
  background: #4759d8;
  margin-top: 100px;
  box-shadow: 10%;

  border-radius: 20px;
}

.subscribe-heading {
  color: white;
  font-size: 30px;
}
.subscribe-heading h5 {
  font-weight: 400;
  padding-left: 20px;
}

.subscribe-email-input {
  background-color: #434c9d;
  height: 50px;
  width: 28rem;
  margin-top: 10px;
  margin-left: 55px;
  border-radius: 20px;
}

.subscribe-button {
  margin-top: 0.6rem;
  margin-left: 0.6rem;
  width: 11rem;
  height: 50px;
  border-radius: 20px;
  color: white;

  text-transform: uppercase;
}

.subscribe-container p {
  margin-left: 4rem;
  font-size: 19px;
}

small {
  color: white;
  font-size: 80%;
  font-weight: 400;
}
