.expertise-section {
  position: relative;
  margin-top: 230px;
  padding-bottom: 80px;
}

.expertise-heading {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: -48px;
  width: 100%;
  font-size: 120px;
  line-height: 120px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: left;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.05;
}

.expertise-section-heading {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-top: 30px;
  padding-left: 8px;
}
.expertise-section-intro {
  padding-left: 11px;
}
a {
  text-decoration: none !important;
  color: #686969;
}

/* Button */
.expertise-download-resume {
  color: white;
  font-weight: 400;
  padding-left: 22px;
}

/* Cards */

.expertise-card-skill-container {
  padding: 80px 60px 10px 60px;
}
.expertise-card-title {
  font-size: 14px;
  font-weight: 300;
  color: #fff !important;
  opacity: 0.87;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left !important;
  padding-top: 20px;
}
.expertise-job-title {
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 0;
}

.expertise-job-link {
  font-size: 15px;
  display: flex;
  flex-direction: row;
}
.expertise-job-link li {
  text-align: left;
  list-style-type: none;
}
.expertise-job-link a {
  color: #5ac24d;
}

.expertise-card-1 {
  margin-right: 20px;

  padding-left: 15px;

  margin-bottom: 20px;

  background-color: #2f3234 !important;
  color: #7f7f80 !important;
  padding-top: 5px;
  border-radius: 5% !important;
}
.expertise-card-2 {
  margin-right: 20px;
  text-align: center;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 10px;
  align-items: center;
  background-color: #2f3234 !important;
  color: #7f7f80 !important;

  /* font-size: 25px !important; */
  border-radius: 5% !important;
}
.expertise-job-link li {
  text-align: left;
  list-style-type: none;
}
.expertise-job-link a {
  color: #5ac24d;
}

.expertise-job-detail {
  font-size: 21px;
  padding: 15px 10px 15px 0;
  font-size: 18px;
  text-align: left;
}

/* SKILLS */

.skill-container {
  padding-right: 20px;
  padding-bottom: 60px;
  padding-left: 40px;
}

.skill-cards {
  background-color: #2f3234 !important;

  margin-left: 20px;
  border-radius: 10% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.skill-icon {
  padding-top: 15px;
  padding-bottom: 15px;
}
.skill-name {
  padding-bottom: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.skills-progress {
  border-radius: 100px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-bottom: 20px;
}
