.footer {
  color: #fff;
  font-weight: 200 !important;
  font-size: 35px;
  padding: 100px 60px 100px 220px;
  margin-left: 15px;
}
.footer div {
  padding-top: 30px;
}
.footer h3 {
  padding-left: 20px;

  font-weight: 200;
}
.footer-text-2 {
  margin-left: 25px;
}
