.portfolio-section {
  position: relative;
  margin-top: 150px;
}

.portfolio-heading {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: -50px;
  width: 100%;
  font-size: 120px;
  line-height: 120px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: left;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.05;
}

.portfolio-section-heading {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-top: 30px;
  padding-left: 8px;
}
.portfolio-section-intro {
  padding-left: 12px;
}
/* buttom */
.portfolio-download-resume {
  color: white;
  font-weight: 400;
  padding-left: 22px;
}

/* Cards */
.portfolio-card-container {
  display: flex;
  padding-top: 50px;
  align-content: flex-start;
}

.portfolio-card-item {
  width: 100%;

  cursor: pointer;
  padding: 0;
  cursor: pointer;
  margin: 10px 5%;

  background-size: cover;
  height: 540px;

  border-radius: 10px;
}
