.summary {
  padding-bottom: 100px;
  position: relative;
}

.summary-heading {
  position: absolute;
  overflow: hidden;
  top: -63px;

  width: 100%;
  font-weight: bolder;
  font-size: 120px;
  line-height: 120px;
  color: #fff;
  text-transform: uppercase;

  letter-spacing: 0.04em;
  text-align: left;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.05;
}

.summary b {
  color: #5ac24d;
  font-weight: 100;
}
.summary p {
  padding-top: 19px;
  /* font-weight: bold; */
}
